.App {
  background-color: aliceblue;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-header img {
  width: 5%;
  height: 5%;
  padding: 0 2%;
  border-radius: 50%;
}
